*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  gap: 20px;
  padding: 20px;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;

}

.products,
.cart {
  flex: 1 1 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 465px;
}

.product-card img {
  max-width: 100%;
  margin-bottom: 10px;
  height: 55%;
  margin-bottom: 15px;
}

.product-card .product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 26%;
}

.product-card h4 {
  font-size: 14px;
  margin: 0 0 5px 0;
}

.product-card p {
  font-weight: bold;
  margin: 0 0 5px 0;
}

.product-card button {
  margin-top: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 100%;
}

.product-card button:hover {
  background-color: #0056b3;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.cart-item button {
  background-color: #dc3545;
  border: none;
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #a71d2a;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}